@tailwind base;
@tailwind components;
@tailwind utilities;

.card-container {
  background-color: transparent;
  width: 200px;
  height: 220px;
  overflow: hidden;
}

.card-inner {
  position: relative;
  text-align: center;
  transition: transform 0.3s;
  transform-style: preserve-3d;
}

.show-card {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-front {
  transform: rotateY(180deg);
}
